@model Model.Medecin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medecin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departement.dep_region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departement.dep_region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_addresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_addresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_specialite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_specialite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.med_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
